// Colors
$background-color: rgba(243,246,249,1);
$shadow-color: rgba(0,0,0,.25);
$star-color: rgba(240,203,79,1);
$font-stack: Helvetica, Arial, sans-serif;

// Numbers
$xsmall-space: 1rem;
$small-space: 2rem;
$search-field-height: 35px;
$search-field-width: 200px;
$shadow-blur-radius: 20px;
$card-height: 140px;
$transition-time: 0.2s;

// Make it responsive!
@mixin media-query() {
  @media only screen and (min-width : 480px) {
    max-width: 90%;
  }
  @media only screen and (min-width: 768px) {
    max-width: 75%;
  }
  @media only screen and (min-width: 992px) {
    max-width: 55%;
  }
  @media only screen and (min-width: 1400px) {
    max-width: 45%;
  }
}

// Base Styling
html, body {
  background-color: $background-color;
  font-family: $font-stack;
}

// Search
.search {
  @include media-query
  margin: 0 auto;
  padding-top: $small-space;
  padding-left: $small-space;

  #search-field {
    display: inline-block;
    height: $search-field-height;
    max-width: $search-field-width;
  }
}

// Events
.events {
  @include media-query
  border-top: none;
  margin: $small-space auto;

  .card {
    min-height: $card-height;

    &:hover {
      box-shadow: 0 0 $shadow-blur-radius $shadow-color;
      -webkit-transition: box-shadow $transition-time ease-in-out;
      transition: box-shadow $transition-time ease-in-out;
    }
  }

  // Favorite
  .fa-star {
    color: white;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: $star-color;
  }

  .favorited {
    .fa-star {
      color: $star-color;
    }
  }

  .card--event {
    margin: $xsmall-space;

    .spots-available {
      font-style: italic;
    }

    .event-info {
      padding-bottom: $xsmall-space;
    }
  }
}
